* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0, 0%, 12%) !important
}

/* html {
  color-scheme: dark light;
} */

body {
  background: var(--body-bg);
  color: white;
  /* font-family: system-ui; */
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  background-color: hsl(0, 0%, 12%) !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --INPUT-INVALID: #F00;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* || FORM - GENERAL */

.form__main{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 12%);
  color: #f8f3f3;
  height: 100%;
}

.form__content{
  padding: 5rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid var(--INPUT-INVALID);
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons{
  display: flex;
  justify-content: center;
}
.form__action-buttons button {
  color: #f8f3f3;
  border-radius: 0.09rem;
  padding: 0.5rem;
}


/*Home Page*/

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 2.25rem;
}

section {
  padding-block: 5rem;
}

.diagonal {
  --skew-angle: -5deg;
  --background: linear-gradient(
                  45deg, 
                  #12c2e9, 
                  #c471ed, 
                  #f64f59
                );

  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.diagonal_sec {
  --skew-angle: +5deg;
  --background: linear-gradient(
                  45deg, 
                  #12c2e9, 
                  #c471ed, 
                  #f64f59
                );

  position: relative;
  isolation: isolate;
}

.diagonal_sec::after {
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.straight{
  --background: linear-gradient(
                  45deg, 
                  #12c2e9, 
                  #c471ed, 
                  #f64f59
                );
  position: relative;
  isolation: isolate;
  padding: 40px;
}

.straight::after{
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 0;
}

.mid-banner{
  text-align: center;
}

.flex-div{
  margin: 0;
  padding: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap, 6rem);
  color: #000;
}

.icon{
  margin: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem)
}

.logo{
  margin: 2rem;
}

.primary-header{
  align-items: center;
  justify-content: space-between;
}

.primary-navigation{
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a{
  text-decoration: none;
}

.primary-navigation a > span{
  text-decoration: none;
}
section{
  --body-bg: hsl(0, 0%, 12%) !important;
  background-color: #131313;
  color: white;
}

/**Header*/
.Nav{
  width: 100vw;
  height: 50px;
  margin-bottom: 10px;
  color: #f8f3f3;
}
.cover{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
background-color: #111111;
}
img{
  object-fit: cover;
  max-height: 400px;
  width: 100px;
}
Carousel{
  height: 400px;
  width: 100px;
}
Carousel.Caption{
  color: #000;
}

/** Dashboard*/

.welcome{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem
}

.welcome a{
  text-decoration: none;
}

.welcome img{
  width: 10rem;
}

.left-db{
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.courses__main{
  color: #f8f3f3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
}

.courses__main h2,
.courses__main h4{
  padding-left: 4rem;
}

.courses_main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.courseCard{
  background-color: #111111;
  color: rgb(255, 255, 255);
  border: 2px black solid;
  width: 250px;
  margin: 30px;
  cursor: pointer;
}

.courseCard .courseAuthor{
  font-size: 12px;
}

.courseCard .courseTitle{
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.courseCard .courseThumbnail{
  width: 100%;
  height: 100px;
}